<div class="con">
  <div class="message-container btn-group">
    <button class="btn btn-success" (click)="loadMessages('Inbox')">Inbox</button>
    <button class="btn btn-warning " (click)="loadMessages('Outbox')">Outbox</button>
    <button class="btn btn-success"  (click)="loadMessages('Unread')">Unread</button>
  </div>

  <div class="no-message message-div" *ngIf="messages.length === 0">
      <h1>No Messages to display!</h1>
  </div>

<table class="table table-hover mt-5" *ngIf="messages.length > 0">
  <tr>
    <th style="width: 40%">Message</th>
    <th  style="width: 20%">From/To</th>
    <th  style="width: 20%">Sent/Received</th>
    <th  style="width: 20%">Delete</th>
  </tr>

  <tr  *ngFor="let m of messages"
    [routerLink]="['/users/messages', messageContainer == 'Outbox' ? m.recipientId : m.senderId]">
    <td class="message-list__text">{{m.messageContent}}</td>
    <td>
        <div class="inbox-unread" *ngIf="messageContainer == 'Outbox'">
          <div >
            <img [src]="m.recipientPhotoUrl" alt="{{m.recipientKnownAs}}" class="img-circle">
            <strong> {{m.recipientKnownAs}} </strong>
          </div>
        </div>
        <div class="inbox-unread" *ngIf="messageContainer != 'Outbox'">
          <div >
            <img [src]="m.senderPhotoUrl" alt="{{m.senderKnownAs}}" class="img-circle">
            <strong> {{m.senderKnownAs}} </strong>
          </div>
        </div>
    </td>
    <td>
        <div >{{ m.dateSent | timeAgo}}</div>
    </td>
      <td >
        <button class="btn btn-danger btn-sm" (click)="deleteMessage(m)">Delete</button>
      </td>
  </tr>
</table>

  <div class="justify-center" *ngIf="messages.length > 0">
      <p-paginator
      [rows]="10"
      name="currentPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
       [totalRecords]="pagination.totalItems"
       [rowsPerPageOptions]="[pagination.itemsPerPage]"
       ngDefaultControl>
      </p-paginator>
  </div>
</div>
