
.side-nav {
  list-style-type: none;
  margin-top: 3.5rem;
  font-size: 1.2rem;
  @media only screen and (max-width: 46rem) {
      display: flex;
      margin: 0;
  }
  @media only screen and (max-width: 20rem) {
    padding: 0;
  }
  &:last-child {
    visibility: hidden;
    @media only screen and (max-width: 46rem) {
      visibility: visible;
      cursor: pointer;

  }
  }

  &__item {
      position: relative;
      cursor: pointer;
      z-index: 10;
      &:not(:last-child) {
          margin-bottom: 1rem;
          @media only screen and (max-width: 46rem) {
              margin: 0;
              visibility: hidden;

          }
      }

      @media only screen and (max-width: 46rem) {
          flex: 1;
          display: flex;
          justify-content: center;
      }
  }
  &__item:active {
    background: var(--color-primary-light);
  }
  &__item:hover::before {
      width: 100%;
      transform: scaleY(1);

  }
  &__item:hover::before &__link {
      color: var(--grey-light-2);
  }
  &__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background: var(--color-primary-light);
      color: var(--grey-light-2);
      transform: scaleY(0);
      transition: transform .5s, width .5s .2s;
      z-index: -1;
  }
  &__link,
  &__link:active{
      text-decoration: none;
      color: var(--grey-light-2);
      display: block;
      position: relative;
      padding: 1.5rem 3rem;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 35rem) {
        padding: 1rem 2rem;
      }
      @media only screen and (max-width: 29rem) {
        padding: 1rem 1rem;
      }
  }

  &__text {
      color: #fff;
  }

  &__icon {
      height: 1.75rem;
      width: 1.75rem;
      fill: var(--grey-light-2);
      margin-right: .7rem;
  }
}
.active {
  background: var(--color-primary-light);

}
.ham-con {
  position: relative;
}
.hamburger {
  position: absolute;
  right: 0;
  height: 100%;
  visibility: hidden;
  @media only screen and (max-width: 46rem) {
    visibility: visible;

}
 @media only screen and (max-width: 26rem) {
  right: .7rem;

}

}


//LEGAL
.legal {
  font-size: 1.2rem;
  color: var(--grey-light-3);
  padding: 2.5rem;
  text-align: center;
  @media only screen and (max-width: 46rem) {
      display: none;
  }
}

.flex-column {
  @media only screen and (max-width: 46rem) {
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    visibility: visible;
    color: white;
    width: 100%;
    flex: 1;
    position: relative;
  }

  & > * {
    @media only screen and (max-width: 46rem) {
      margin-top: 2.7rem;
      visibility: visible;
      color: white;
      font-size: 1.5rem;
      text-align: left;
      width: 100%;
    }

  }
  & > *:last-child {
      @media only screen and (max-width: 46rem) {
        position: absolute;
        height: 30%;
        top: -5.4rem;
        right: .3rem;
        z-index: 1;

      }
      @media only screen and (max-width: 37rem) {
        top: -5.4rem;
      }

      @media only screen and (max-width: 33rem) {
        top: -5.4rem;
      }
      @media only screen and (max-width: 31rem) {
        top: -5.4rem;
        right: .8rem;
      }


  }
  &__link {
    @media only screen and (max-width: 46rem) {
      text-align: left;
    }
  }
  &__item:active {
    @media only screen and (max-width: 46rem) {
      background: var(--color-primary-light);
      width: 100%;
    }
  }
  &__item:not(:last-child):hover {
    @media only screen and (max-width: 46rem) {
      width: 100%;
      transform: scaleY(1);
    }
  }


}
